################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TestProject/TestProject/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/TestProject/TestProject/obj/Debug/net10.0/apphost.exe
/TestProject/TestProject/obj/Debug/net10.0/refint/TestProject.dll
/TestProject/TestProject/obj/Debug/net10.0/TestProject.AssemblyInfo.cs
/TestProject/TestProject/obj/Debug/net10.0/TestProject.AssemblyInfoInputs.cache
/TestProject/TestProject/obj/Debug/net10.0/TestProject.assets.cache
/TestProject/TestProject/obj/Debug/net10.0/TestProject.csproj.BuildWithSkipAnalyzers
/TestProject/TestProject/obj/Debug/net10.0/TestProject.csproj.CoreCompileInputs.cache
/TestProject/TestProject/obj/Debug/net10.0/TestProject.csproj.FileListAbsolute.txt
/TestProject/TestProject/obj/Debug/net10.0/TestProject.dll
/TestProject/TestProject/obj/Debug/net10.0/TestProject.GeneratedMSBuildEditorConfig.editorconfig
/TestProject/TestProject/obj/Debug/net10.0/TestProject.genruntimeconfig.cache
/TestProject/TestProject/obj/Debug/net10.0/TestProject.pdb
/TestProject/TestProject/obj/Debug/net10.0/TestProject.sourcelink.json
/TestProject/.vs/ProjectEvaluation/testproject.metadata.v10.bin
/TestProject/.vs/ProjectEvaluation/testproject.projects.v10.bin
/TestProject/.vs/ProjectEvaluation/testproject.strings.v10.bin
/TestProject/.vs/TestProject/copilot-chat/6fe634c6/sessions/5b8640a8-5e2f-4787-81e8-172e5283a7a8
/TestProject/.vs/TestProject/copilot-chat/6fe634c6/sessions/ff30b0c4-4b23-49b0-acdf-59ddda1a0729
/TestProject/.vs/TestProject/CopilotIndices/18.7.1253.33689/CodeChunks.db
/TestProject/.vs/TestProject/CopilotIndices/18.7.1253.33689/SemanticSymbols.db
/TestProject/.vs/TestProject/DesignTimeBuild/.dtbcache.v2
/TestProject/.vs/TestProject/FileContentIndex/0698c198-6ac1-43d0-b8ca-ca314cabe35c.vsidx
/TestProject/.vs/TestProject/FileContentIndex/57fee52a-063a-492d-b36c-5097995af902.vsidx
/TestProject/.vs/TestProject/FileContentIndex/677ba361-86b3-4eb6-a7b0-8cb806e6ce17.vsidx
/TestProject/.vs/TestProject/FileContentIndex/81a4a318-751c-4b08-a3ed-ad64e1830d22.vsidx
/TestProject/.vs/TestProject/FileContentIndex/ffa6ab6d-5b57-4268-ab9e-0a1f357ca826.vsidx
/TestProject/.vs/TestProject/v18/.futdcache.v2
/TestProject/.vs/TestProject/v18/.suo
/TestProject/.vs/TestProject/v18/DocumentLayout.backup.json
/TestProject/.vs/TestProject/v18/DocumentLayout.json
/TestProject/.vs/upgrade/assessment/ff12a8c5.json
/TestProject/TestProject/bin/Debug/net10.0/TestProject.deps.json
/TestProject/TestProject/bin/Debug/net10.0/TestProject.dll
/TestProject/TestProject/bin/Debug/net10.0/TestProject.exe
/TestProject/TestProject/bin/Debug/net10.0/TestProject.pdb
/TestProject/TestProject/bin/Debug/net10.0/TestProject.runtimeconfig.json
/TestProject/TestProject/obj/Debug/net10.0/ref/TestProject.dll
*.slnx
